<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gtercn.carhome.web.api.dao.DictionaryTypeMapper">
	<sql id="Base_Column_List">
		dictionary_type_id, dictionary_type, dictionary_name, delete_flag, update_time,
		insert_time
  </sql>
	<select id="selectByPrimaryKey" resultType="com.gtercn.carhome.web.api.entity.DictionaryType"
		parameterType="java.lang.String">
		select <include refid="Base_Column_List" />
		from tc_dictionary_type
		where dictionary_type_id = #{dictionaryTypeId,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from tc_dictionary_type
		where dictionary_type_id = #{dictionaryTypeId,jdbcType=VARCHAR}
  </delete>
	<insert id="insert" parameterType="com.gtercn.carhome.web.api.entity.DictionaryType">
		insert into tc_dictionary_type (dictionary_type_id,
		dictionary_type,
		dictionary_name, delete_flag, update_time,
		insert_time)
		values (#{dictionaryTypeId,jdbcType=VARCHAR},
		#{dictionaryType,jdbcType=VARCHAR},
		#{dictionaryName,jdbcType=VARCHAR}, #{deleteFlag,jdbcType=INTEGER},
		#{updateTime,jdbcType=TIMESTAMP},
		#{insertTime,jdbcType=TIMESTAMP})
  </insert>
	<insert id="insertSelective" parameterType="com.gtercn.carhome.web.api.entity.DictionaryType">
		insert into tc_dictionary_type
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="dictionaryTypeId != null">
				dictionary_type_id,
      </if>
			<if test="dictionaryType != null">
				dictionary_type,
      </if>
			<if test="dictionaryName != null">
				dictionary_name,
      </if>
			<if test="deleteFlag != null">
				delete_flag,
      </if>
			<if test="updateTime != null">
				update_time,
      </if>
			<if test="insertTime != null">
				insert_time,
      </if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="dictionaryTypeId != null">
				#{dictionaryTypeId,jdbcType=VARCHAR},
      </if>
			<if test="dictionaryType != null">
				#{dictionaryType,jdbcType=VARCHAR},
      </if>
			<if test="dictionaryName != null">
				#{dictionaryName,jdbcType=VARCHAR},
      </if>
			<if test="deleteFlag != null">
				#{deleteFlag,jdbcType=INTEGER},
      </if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
      </if>
			<if test="insertTime != null">
				#{insertTime,jdbcType=TIMESTAMP},
      </if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.gtercn.carhome.web.api.entity.DictionaryType">
		update tc_dictionary_type
		<set>
			<if test="dictionaryType != null">
				dictionary_type = #{dictionaryType,jdbcType=VARCHAR},
      </if>
			<if test="dictionaryName != null">
				dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
      </if>
			<if test="deleteFlag != null">
				delete_flag = #{deleteFlag,jdbcType=INTEGER},
      </if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
			<if test="insertTime != null">
				insert_time = #{insertTime,jdbcType=TIMESTAMP},
      </if>
		</set>
		where dictionary_type_id = #{dictionaryTypeId,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.gtercn.carhome.web.api.entity.DictionaryType">
		update tc_dictionary_type
		set dictionary_type = #{dictionaryType,jdbcType=VARCHAR},
		dictionary_name = #{dictionaryName,jdbcType=VARCHAR},
		delete_flag = #{deleteFlag,jdbcType=INTEGER},
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		insert_time = #{insertTime,jdbcType=TIMESTAMP}
		where dictionary_type_id = #{dictionaryTypeId,jdbcType=VARCHAR}
  </update>
</mapper>